target/META-INF/mule-src/test-april21/src/main/mule/test-april21.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d1579f5b-fcad-4f88-b20e-188a55753e74" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="69c699ce-bc18-4698-b21d-4babe42edecd" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="test-april21Flow" doc:id="18c188f6-0983-49e8-9551-3865b97d3921" >
		<http:listener doc:name="Listener" doc:id="b6751a3a-372f-4ca4-b188-d32ca2fbb89a" config-ref="HTTP_Listener_config" path="/test" allowedMethods="POST"/>
		<jms:publish doc:name="Publish" doc:id="a8d333ab-14ab-448c-b854-bcdf9d8c4c97" destination="test_1" config-ref="JMS_Config">
			<jms:message outboundContentType="application/json" />
		</jms:publish>
		<logger level="INFO" doc:name="Logger" doc:id="777a9093-8249-4aa5-b06c-257df25e5e7e" message="#[payload]" />
	</flow>
	<flow name="test-april21Flow1" doc:id="e21c894d-610b-4d4e-99cd-5bf36622a7ce" >
		<jms:listener doc:name="Listener" doc:id="9c35eb20-5a31-456c-9239-1647355ac49b" config-ref="JMS_Config" destination="test_1"/>
		<jms:consume doc:name="Consume" doc:id="12db08e4-0dde-472d-8e46-3934385dfe0d" config-ref="JMS_Config" destination="test_1" maximumWaitUnit="SECONDS" maximumWait="10"/>
		<logger level="INFO" doc:name="Logger" doc:id="1e819ed8-e4bd-4e22-94fa-027529589aa7" message="*******The message was sucessfully posted********/n/n #[payload]"/>
	</flow>
</mule>
